<header class="content">
    <div class="col-md-12 container clearfix" style="text-align:center">
        <h1>Exercício 8</h1><br>
    </div>
    <div>
        <h4 class="text-center">
            Crie um algoritmo que receba o salário fixo e o valor das vendas
            efetuadas pelo vendedor de uma empresa. Sabendo-se que ele recebe
        </h4>
        <h4 class="text-center">
            uma comissão de 3% sobre o total das vendas até R$ 1.500,00 e mais
            5% sobre a diferença (quando o total ultrapassar esse valor),

        </h4>
        <h4 class="text-center">
            calcule e exiba o seu salário atual.
        </h4>
    </div>
</header> <br> <br>

<form method="post" action="/exerc8">
    <div class="text-center">
    </div>
    <div class="row">
        <div class="col-md-6 col-md-offset-1">
            <h3><strong>Digite os dados abaixo:</strong></h3>
            <h3><input type="text" name="salario_fixo" placeholder="Salário: 1500" /></h3>
            <h3><input type="text" name="valor_venda" placeholder="Venda total: 2000" /></h3>

            <h3><button type="submit" class="btn btn-primary">Enviar</button></h3>
        </div>
        {{#if erro}}
            <div class="col-md-5 col-md-offset-1">
                <p class="alert alert-danger" role="alert">{{mensagemErro}}</p>
            </div>
        {{else}}
            {{#if salario_final}}
                <div class="col-md-5 col-md-offset-1">
                    <h3 class="text-center"><strong>Salário total é: </strong> R${{salario_final}},00</h3>
                </div>
            {{/if}}
        {{/if}}
        </div>
</form>