<h2>{{tituloPagina}}</h2>


<form method="post" action="/exerc11">
    <p>Digite os dados abaixo:</p>


    <div class="form-group row">
        <label class="col-sm-2 col-form-label">Nome</label>
        <div class="col-sm-10">
            <input type="text" name="nome" placeholder="Seu nome">
        </div>
    </div>

    <div class="form-group row">
        <label for="staticEmail" class="col-sm-2 col-form-label">Email</label>
        <div class="col-sm-10">
            <input type="text" name="email" placeholder="email@exemplo.com">
        </div>
    </div>

    <div class="form-group row">
        <label for="staticEmail" class="col-sm-2 col-form-label">CPF</label>
        <div class="col-sm-10">
            <input type="text" name="cpf" placeholder="xxx.xxx.xxx-xx">
        </div>
    </div>
        <div class="form-group row">
        <label for="staticEmail" class="col-sm-2 col-form-label">Idade</label>
        <div class="col-sm-10">
            <input type="text" name="idade" placeholder="28">
        </div>
    </div>

    <button type="submit" class="btn btn-primary">Enviar</button>
    
    {{#if erro}}
        <div class="alert alert-danger" role="alert">{{mensagemErro}}</div>
    {{else}}
        {{#each dados_pessoais}}
            <div>{{this}}</div>
        {{/each}}
    {{/if}}

</form>