<h2>{{tituloPagina}}</h2>


<form method="post" action="/exerc1">
    <p>
        Número: 
        <input type="number" name="numero" value="">
    </p>
    <button type="button" class="btn btn-primary">Enviar</button>

    {{#if erro}}
        <div class="alert alert-danger" role="alert">{{mensagemErro}}</div>
    {{else}}
        {{#if tipo}}
            <p>Número : {{tipo}}</p>
        {{/if}}
    {{/if}}
</form>