<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>{{tituloPagina}}</title>
</head>

<body>
    <header>
        <h1>Cabeçalho Comum do Site</h1>
    </header>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/exerc1">Exercício 1</a></li>
            <li><a href="/exerc2">Exercício 2</a></li>
            <li><a href="/exerc3">Exercício 3</a></li>
            <li><a href="/exerc4">Exercício 4</a></li>
            <li><a href="/exerc5">Exercício 5</a></li>
            <li><a href="/exerc6">Exercício 6</a></li>
            <li><a href="/exerc7">Exercício 7</a></li>
            <li><a href="/exerc8">Exercício 8</a></li>
            <li><a href="/exerc9">Exercício 9</a></li>
            <li><a href="/exerc10">Exercício 10</a></li>
            <li><a href="/exerc11">Exercício 11</a></li>
        </ul>
    </nav>
    {{{body}}}
</body>

</html>