<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <title>{{tituloPagina}}</title>
</head>

<body>
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="/"> Lista Maria Clara Sanchez</a>
            </div>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#"><span class="glyphicon glyphicon-bookmark"></span> IFSULDEMINAS - Poços de Caldas -
                        MG</a></li>
            </ul>
        </div>
    </nav>
    <header class="content">
        <div class="col-md-12 container clearfix" style="text-align:center">
            <h1>Lista de exercício da disciplina de Programação Web II</h1><br>
        </div>
        <div>
            <h4 class="text-center">Essa lista tem o intuito de resolver alguns exercício
                da disciplina de </h4> 
            <h4 class="text-center">Programação Web II, utilizando nodejs o framework Express e Handlebars </h4>

        </div>
    </header>
    <br><br><br>

    <div class="container">
        <div class="col-md-6">
            <div class="configdiv">
                <h4><a href="/exerc1">Exercício 1</a></h4>
                <p>
                    Crie um programa que receba um valor numérico de um formulário
                    <strong>(POST)</strong> e exiba na tela se o valor é <strong> POSITIVO, NEGATIVO ou IGUAL A
                        ZERO.</strong>
                </p>
            </div>
        </div>
        <div class="col-md-6">
            <div class="configdiv">
                <h4><a href="/exerc2">Exercício 2</a></h4>
                <p>
                    Crie um programa que ao receber um valor numérico de um
                    formulário <strong>(GET)</strong> exiba a tabuada desse número na tela.
                </p>
            </div>
        </div>
        <div class="col-md-6">
            <div class="configdiv">
                <h4><a href="/exerc3">Exercício 3</a></h4>
                <p>
                    Crie um algoritmo para cálculo do <strong>IMC</strong> de uma pessoa. Obs.: utilize
                    uma função para processar os dados recebidos.
                </p>
            </div>
        </div>
        <div class="col-md-6">
            <div class="configdiv">
                <h4><a href="/exerc4">Exercício 4</a></h4>
                <p>
                    O custo de um carro novo ao consumidor é a soma do custo de
                    fábrica com a porcentagem do distribuidor e dos impostos
                    (aplicados ao custo de fábrica). Supondo que o percentual do
                    distribuidor seja de <strong>28%</strong> e os impostos de <strong>45%</strong>, escreva um
                    algoritmo para receber de um formulário o custo de fábrica de um
                    carro, calcular e exibir o custo final do consumidor.
                </p>
            </div>
        </div>
        <div class="col-md-6">
            <div class="configdiv">
                <h4><a href="/exerc5">Exercício 5</a></h4>
                <p>
                    Escreva um algoritmo para receber de um formulário o salário
                    mensal atual de um funcionário e o percentual de reajuste. Calcule e
                    exiba o valor do novo salário.
                </p>
            </div>
        </div>
        <div class="col-md-6">
            <div class="configdiv">
                <h4><a href="/exerc6">Exercício 6</a></h4>
                <p>
                    Crie um algoritmo que receba 3 notas de avaliações de um aluno.
                    Calcule a média aritmética simples e exibir uma mensagem que diga
                    se o aluno foi ou não aprovado (considerar que nota igual ou maior
                    que 6 o aluno é <strong>APROVADO</strong>). Exibir também a média calculada.
                </p>
            </div>
        </div>
        <div class="col-md-6">
            <div class="configdiv">
                <h4><a href="/exerc7">Exercício 7</a></h4>
                <p>
                    A jornada de trabalho semanal de um funcionário é de 40 horas. O
                    funcionário que trabalhar mais de 40 horas receberá hora extra,
                    cujo cálculo é o valor da hora regular com um acréscimo de 50%.
                    Crie um algoritmo que receba o número de horas trabalhadas em
                    um mês, o salário por hora e exiba o salário total do funcionário,
                    que deverá ser acrescido de horas extras caso tenham sido
                    trabalhadas (considere que o mês possua 4 semanas exatas sempre).
                </p>
            </div>
        </div>
        <div class="col-md-6">
            <div class="configdiv">
                <h4><a href="/exerc8">Exercício 8</a></h4>
                <p>
                    Crie um algoritmo que receba o salário fixo e o valor das vendas
                    efetuadas pelo vendedor de uma empresa. Sabendo-se que ele
                    recebe uma comissão de 3% sobre o total das vendas até R$
                    1.500,00 e mais 5% sobre a diferença (quando o total ultrapassar
                    esse valor), calcule e exiba o seu salário atual.
                </p>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="col-md-6">
            <div class="configdiv">
                <h4><a href="/exerc9">Exercício 9 </a></h4>
                <p>
                    Um posto está vendendo combustíveis com a seguinte tabela de
                    descontos:
                </p>
                <p>
                    Álcool: <br>

                    <b>-</b> Até 20 litros, desconto de 3% por litro. <br>
                    <b>-</b> Acima de 20 litros, desconto de 5% por litro. <br>
                </p>
                <p>
                    Gasolina:<br>
                    <b>-</b> Até 20 litros, desconto de 4% por litro.
                    <br>
                    <b>-</b> Acima de 20 litros, desconto de 6% por litro.
                </p>
                <p>
                    Escreva um algoritmo que receba o número de litros vendidos e o
                    tipo de combustível (Álcool ou Gasolina), calcule e exiba o valor a
                    ser pago pelo cliente sabendo-se que o preço do litro da gasolina é
                    R$ 3,30 e o preço do litro do álcool é R$ 2,90.
                </p>
            </div>
        </div>
        <div class="col-md-6">
            <div class="configdiv">
                <h4><a href="/exerc10">Exercício 10</a></h4>
                <p>
                    Uma empresa quer verificar se um empregado está qualificado para
                    a aposentadoria ou não. Para estar em condições, um dos seguintes
                    requisitos deve ser satisfeito:
                </p>
                <p>
                    <b>-</b> Ter no mínimo 65 anos de idade <br>
                    <b>-</b> Ter trabalhado no mínimo 30 anos <br>
                    <b>-</b> Ter no mínimo 60 anos e ter trabalhado no mínimo 25 anos <br>
                </p>
                <p>
                    Com base nas informações acima, faça um algoritmo que receba: o
                    ano de nascimento do funcionário e o ano de ingresso na empresa.
                    O programa deverá exibir a idade e o tempo de trabalho do
                    empregado e a mensagem “REQUERER APOSENTADORIA” ou “NÃO
                    REQUERER APOSENTADORIA”.
                </p>
            </div>
        </div>
    </div>
    <div class="container" style="">
        <div class="col-md-6">
            <div class="configdiv">
                <h4><a href="/exerc11">Exercício 11</a></h4>
                <p>
                    Crie um formulário de cadastro simples com nome, email, cpf e
                    idade e exiba as informações preenchidas na tela quando o
                    formulário for submetido via POST. Explique também como todo o
                    processo de envio de informações, processamento e resposta
                    acontece na integração entre cliente e servidor considerando a
                    tecnologia do NodeJS, Express e Handlebars.
                </p>
            </div>
        </div>
    </div>
    {{{body}}}


</body>

</html>